<form method="post" action="/store" enctype="multipart/form-data">
    <label for="addNombre">Nombre:</label>
    <input type="text" name="addNombre" id="addNombre">
    <br>
    <label for="addTelefono">Teléfono:</label>
    <input type="number" name="addTelefono" id="addTelefono">
    <br>
    <label for="addEmail">Email:</label>
    <input type="email" name="addEmail" id="addEmail">
    <br>
    <label for="addFoto">Foto:</label>
    <input type="file" name="addFoto" id="addFoto">
    <br>
    <input type="submit" value="Agregar">
</form>