{% include 'header.html'%}
<a href="{{url_for("create")}}" class="btn btn-success">
    Nuevo contacto
</a>
<br>
<br>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for contacto in contactos %}
        <tr>
            <td>{{contacto[0]}}</td>
            <td>
                <img class="img-thumbnail" width="100" src="{{url_for('uploads',nomFoto=contacto[4])}}" alt="">
            </td>
            <td>{{contacto[1]}}</td>
            <td>{{contacto[2]}}</td>
            <td>{{contacto[3]}}</td>
            <td>
                <a href="/edit/{{contacto[0]}}" class="btn btn-warning">Editar</a> | <a href="/destroy/{{contacto[0]}}" class="btn btn-danger" onClick="return confirm('¿Desea borrar al contacto?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html'%}